asgiref==3.8.1
crispy-bootstrap5==2024.2
Django==5.0.6
django-cors-headers==4.4.0
django-crispy-forms==2.3
pillow==10.4.0
psycopg2-binary==2.9.9
PyJWT==2.9.0
pyotp==2.9.0
pypng==0.20220715.0
pytz==2024.2
qrcode==7.4.2
sqlparse==0.5.1
typing_extensions==4.12.2
