{% extends 'base.html' %}
{% load static %}

{% block title %}TicTacToe{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<meta name="username" content="{{ user.username }}">
{% endif %}

<div id="ttt" class="container py-5 ttt-container" style="display: none;">
    <h1>Tic Tac Toe</h1>
    <div class="game-wrapper">
        <div id="player1" class="player">
            <div id="player1-name" class="username-text">
                {{ user.username }}
                <span id="userSymbol"></span>
            </div>
        </div>
        <div id="game"></div>
        <div id="player2" class="player">
            <div id="player2-name" class="username-text"></div>
        </div>
    </div>
</div>

<!-- Opponent Modal -->
<div id="opponentModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="opponentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h1 class="modal-title text-center silk-heavy" id="opponentModalLabel">Tic-Tac-Toe</h1>
            </div>
            <div class="modal-body p-3">
                <form id="opponentForm">
                    {% csrf_token %}
                    <label for="opponent-name" class="form-label">Opponent Name*</label>
                    <input type="text" class="form-control" id="opponent-name" name="opponent_name"
                        pattern="[a-zA-z0-9_]+" maxlength="20" required placeholder="Enter opponent name here">
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary spa-link silk-heavy" href="{% url 'home' %}" data-method="GET"
                    data-bs-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-accent silk-heavy" form="opponentForm">Start</button>
            </div>
        </div>
    </div>
</div>

<!-- Result Modal -->
<div id="resultModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">Game Over</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="result-message"></p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary spa-link" href="{% url 'home' %}" data-method="GET"
                    data-bs-dismiss="modal">Return to Home</a>
                <button type="button" class="btn btn-accent" onclick="startGame()">Play Again</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
