{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block nav %}
{% include "includes/nav_menu.html" %}
{% endblock nav %}


{% block content %}

<div class="container">
    <div class="row justify-content-evenly text-center">
        <!-- Paula -->
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card about-card">
                <img src="{% static 'images/default_user.jpg' %}" class="card-img-top rounded-circle w-50 mx-auto"
                    alt="Image of Paula">
                <div class="card-body">
                    <h5 class="card-title">Paula</h5>
                    <a href="https://github.com/PaulaBalbino" class="btn btn-primary allow-click" target="_blank">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                </div>
            </div>
        </div>
        <!-- Samih -->
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card about-card">
                <img src="{% static 'images/default_user.jpg' %}" class="card-img-top rounded-circle w-50 mx-auto"
                    alt="Image of Samih">
                <div class="card-body">
                    <h5 class="card-title">Samih</h5>
                    <a href="https://github.com/samih713" class="btn btn-primary allow-click" target="_blank">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                </div>
            </div>
        </div>
        <!-- Tanvir -->
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card about-card">
                <img src="{% static 'images/tanvir.png' %}" class="card-img-top rounded-circle w-50 mx-auto"
                    alt="Image of Tanvir">
                <div class="card-body">
                    <h5 class="card-title">Tanvir</h5>
                    <a href="https://github.com/Taanviir" class="btn btn-primary allow-click" target="_blank">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                </div>
            </div>
        </div>
        <!-- Tehuan -->
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card about-card">
                <img src="{% static 'images/default_user.jpg' %}" class="card-img-top rounded-circle w-50 mx-auto"
                    alt="Image of Tehuan">
                <div class="card-body">
                    <h5 class="card-title">Tehuan</h5>
                    <a href="https://github.com/tehuanmelo" class="btn btn-primary allow-click" target="_blank">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}