{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock title %}


{% block content %}

<!-- About -->
<div class="container py-5">
    <h1 class="text-center">About the developers!</h1>
    <hr class="mb-4">
    <div class="row justify-content-evenly text-center">
        <!-- Malik -->
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card about-card">
                <img src="{% static 'images/default_user.jpg' %}" class="card-img-top rounded-circle w-50 mx-auto"
                    alt="Image of Malik">
                <div class="card-body">
                    <h5 class="card-title">Malik</h5>
                    <p class="card-text">[placeholder text]</p>
                    <a href="https://github.com/MalikZu" class="btn btn-accent" target="_blank">
                        <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
        <!-- Paula -->
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card about-card">
                <img src="{% static 'images/default_user.jpg' %}" class="card-img-top rounded-circle w-50 mx-auto"
                    alt="Image of Paula">
                <div class="card-body">
                    <h5 class="card-title">Paula</h5>
                    <p class="card-text">[placeholder text]</p>
                    <a href="https://github.com/PaulaBalbino" class="btn btn-accent" target="_blank">
                        <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
        <!-- Samih -->
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card about-card">
                <img src="{% static 'images/default_user.jpg' %}" class="card-img-top rounded-circle w-50 mx-auto"
                    alt="Image of Samih">
                <div class="card-body">
                    <h5 class="card-title">Samih</h5>
                    <p class="card-text">[placeholder text]</p>
                    <a href="https://github.com/samih713" class="btn btn-accent" target="_blank">
                        <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
        <!-- Tanvir -->
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card about-card">
                <img src="{% static 'images/tanvir.png' %}" class="card-img-top rounded-circle w-50 mx-auto"
                    alt="Image of Tanvir">
                <div class="card-body">
                    <h5 class="card-title">Tanvir</h5>
                    <p class="card-text">[placeholder text]</p>
                    <a href="https://github.com/Taanviir" class="btn btn-accent" target="_blank">
                        <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
        <!-- Tehuan -->
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card about-card">
                <img src="{% static 'images/default_user.jpg' %}" class="card-img-top rounded-circle w-50 mx-auto"
                    alt="Image of Tehuan">
                <div class="card-body">
                    <h5 class="card-title">Tehuan</h5>
                    <p class="card-text">[placeholder text]</p>
                    <a href="https://github.com/tehuanmelo" class="btn btn-accent" target="_blank">
                        <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
    {% include "includes/back_to_home.html" %}
    {% endif %}
</div>

{% endblock content %}
