{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block nav %}
{% if user.is_authenticated %}
{% include "includes/nav_menu.html" %}
{% endif %}
{% endblock nav %}


{% block content %}

{% if user.is_authenticated %}

<div class="p-5 mb-4 bg-body-tertiary rounded-3 border border-dark">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, incidunt! Recusandae sit error blanditiis
            quas libero dolorem iure velit ut voluptas, ad quo deserunt sequi voluptates possimus porro voluptate
            suscipit quidem a, dolor, commodi in? Autem sunt qui ad officia, commodi dignissimos laudantium officiis
            minima voluptas nobis expedita quam quis.
        </p>

    </div>
</div>

{% else %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex flex-column">
        <img src="{% static 'Pong.svg' %}" alt="PONG" class="mb-5">
        <div id="auth-container" class="d-flex flex-column text-center mb-4">
            <a class="menu-btn mb-3 spa-link" href="{% url 'login' %}" data-method="GET">Log In</a>
            <a class="menu-btn mb-3 spa-link" href="{% url 'register' %}" data-method="GET">Register</a>
            <a class="menu-btn mb-3" href="#">42 Log In</a>
            <a class="menu-btn mb-3" href="{% url 'game' %}">Play as Guest</a>
        </div>
        <footer class="text-center text-light">
            <p>&copy; 2024 PONG.</p>
        </footer>
    </div>
</div>

{% endif %}

{% endblock content %}