{% extends "base.html" %}
{% load static %}

{% block title %}Settings{% endblock title %}

{% block nav %}
    {% include "includes/nav_menu.html" %}
{% endblock nav %}


{% block content %}

<div class="p-5 mb-4 bg-body-tertiary rounded-3 border border-dark">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Settings</h1>
        <ul>
            {% if not user.is_2fa_set %}
            <li><a class="spa-link" href="{% url "enable_2fa" %}" data-method="GET">Enable 2fa</a></li>
            {% else %}
            <li><a class="spa-link" href="{% url "disable_2fa" %}" data-method="GET">Disable 2fa</a></li>
            <li><a class="spa-link" href="{% url "reset_2fa" %}" data-method="GET">Reset 2fa</a></li>
            {% endif %}
            <li><a href="#">Change Password</a></li>

        </ul>

    </div>
</div>

{% endblock content %}