{% extends "base.html" %}
{% load static %}

{% block title %}Account Settings{% endblock title %}


{% block content %}

<!-- Account Settings -->
<div class="container-xl py-5">
    <h1 class="text-center silk-heavy">Account Settings</h1>
    <hr class="mb-4">

    <div class="row g-4">
        {% if not user.is_2fa_set %}
        <!-- Enable 2FA Card -->
        <div class="col">
            <div class="card h-100" data-bs-theme="dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Enable 2FA</h5>
                    <hr>
                    <p class="card-text">Add an extra layer of security by enabling two-factor authentication.
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a class="btn btn-primary spa-link" href="{% url 'enable_2fa' %}" data-method="GET">Enable 2FA</a>
                </div>
            </div>
        </div>
        {% else %}
        <!-- Disable 2FA Card -->
        <div class="col">
            <div class="card h-100" data-bs-theme="dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Disable Two-Factor Authentication (2FA)</h5>
                    <hr>
                    <p class="card-text">Remove the two-factor authentication from your account.</p>
                    <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#disable2faModal">Disable
                        2FA</a>
                </div>
            </div>
        </div>

        <!-- Reset 2FA Card -->
        <div class="col">
            <div class="card h-100" data-bs-theme="dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Reset Two-Factor Authentication (2FA)</h5>
                    <hr>
                    <p class="card-text">If you're having issues, reset your 2FA settings.</p>
                    <a class="btn btn-warning spa-link" href="{% url 'reset_2fa' %}" data-method="GET">Reset 2FA</a>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Change Password Card -->
        <div class="col">
            <div class="card h-100" data-bs-theme="dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Change Password</h5>
                    <hr>
                    <p class="card-text">Update your password to keep your account secure.</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a class="btn btn-primary spa-link" href="{% url 'change_password' %}" data-method="GET">Change
                        Password</a>
                </div>
            </div>
        </div>

        <!-- Delete Account Card -->
        <div class="col">
            <div class="card h-100" data-bs-theme="dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Delete Account</h5>
                    <hr>
                    <p class="card-text">Permanently delete your account. This action is irreversible.</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a class="btn btn-danger" href="#" data-bs-toggle="modal"
                        data-bs-target="#deleteAccountModal">Delete Account</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Disable 2FA Modal -->
<div class="modal fade" id="disable2faModal" tabindex="-1" aria-labelledby="disable2faModalLabel" aria-hidden="true"
    data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                Are you sure you want to disable Two-Factor Authentication?
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="disable2fa">
                    {% csrf_token %}
                    <a class="btn btn-danger spa-link" href="{% url 'disable_2fa' %}" data-method="POST"
                        data-form="#disable2fa" data-bs-dismiss="modal">Disable 2FA</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Account Modal -->
<style>
    .muted-btn {
        pointer-events: none;
        text-decoration: none;
        opacity: 0.5;
    }
</style>

<div id="deleteAccountModal" class="modal fade" tabindex="-1" aria-labelledby="deleteAccountLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                Are you sure you want to delete your account?
            </div>
            <div class="modal-footer justify-content-center">
                <div class="form-check mb-3">
                    <input id="confirmDeleteCheckbox" class="form-check-input" type="checkbox" required>
                    <label class="form-check-label" for="confirmDeleteCheckbox">
                        I understand that deleting my account is <span
                            class="text-decoration-underline">irreversible</span>.
                    </label>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteAccount">
                    {% csrf_token %}
                    <a id="deleteAccountBtn" class="btn btn-danger muted-btn spa-link" href="{% url 'delete_account' %}"
                        data-method="POST" data-form="#deleteAccount" data-bs-dismiss="modal">Delete Account</a>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    // Enable the delete button when the checkbox is checked
    document.getElementById('confirmDeleteCheckbox').addEventListener('change', function () {
        const deleteButton = document.getElementById('deleteAccountBtn');
        if (this.checked)
            deleteButton.classList.remove('muted-btn');
        else
            deleteButton.classList.add('muted-btn');
    });
</script>

{% endblock content %}
