html, body {
    /* dimensions */
    height: 100%;
    width: 100%;

    /* background */
    background-color: rgb(29, 27, 21);

    /* font */
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
    color: #A76B09;

    /* force no scrollbars */ /*! not needed? */
    /* overflow: hidden !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /* align-items: stretch; */
}

#logo {
    width: 40%; 
    height: 30%;

    margin: 10px auto;
}

#login-menu {
    width: 30%; 
    height: 30%;
    margin: 20px auto;
}

button {
    background-color: #ffffff00;
    margin: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

    /* animations */

    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0ms; */

    /* animations */
    transition: transform 0.3s; /* shorthand with defaults */

    :hover {
        transform: translateY(3px);
    }

    :active {
        animation: click_button 0.2s forwards;
    }
}

@keyframes click_button {
    0% {
        transform: translateY(0);
        filter: brightness(1);
    }
    100% {
        transform: translateY(5px);
        filter: brightness(0.8);
    }
}
