{% extends 'base.html' %}
{% load static %}

{% block title %}Game{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<meta name="username" content="{{ user.username }}">
{% endif %}

<!-- Pong -->
<div id="pongContainer" class="container-fluid h-100" style="display: none;">
    <div class="row">
        <div class="col-1 d-flex d-md-flex button-alignment">
            <div class="row">
                <div class="d-none d-lg-block" style="width: 6ch;">
                    <p id="player1name"></p>
                </div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" id="buttonQ" class="btn btn-light">&uarr; Q</button>
                    <button type="button" id="buttonA" class="btn btn-light">&darr; A</button>
                </div>
            </div>

            <div class="row">
                <a href="{% url 'home' %}" id="backhome" class="btn btn-light fa fa-home spa-link" data-toggle="tooltip"
                    data-placement="top" title="Back to Home Page" data-method="GET"
                    on-spa-navigate="game.reset();"></a>
            </div>

            <div class="row">
                <button type="button" id="impaired" class="btn btn-light fa fa-eye-slash" data-toggle="tooltip"
                    data-placement="top" title="Visual Impaired Mode" onclick="visual()">
                </button>
            </div>

            <div class="row">
                <div id="3rdplayer" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" id="buttonD" class="btn btn-danger">&uarr; D</button>
                    <button type="button" id="buttonC" class="btn btn-danger">&darr; C</button>
                </div>
                <div class="d-none d-lg-block" style="width: 6ch;">
                    <p id="player3name" style="margin-top: 16px;"></p>
                </div>
                <p id="player3name" style="margin-top: 16px;"></p>
            </div>
        </div>

        <div class="col-10">
            <div class="canvas-container">
                <canvas id="ponggame" tabindex="-1">Pong Game</canvas>
            </div>
        </div>

        <div class="col-1 d-flex d-md-flex button-alignment">
            <div class="row">
                <div class="d-none d-lg-block" style="width: 6ch;">
                    <p id="player2name"></p>
                </div>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" id="buttonP" class="btn btn-light text-dark">&uarr; P</button>
                    <button type="button" id="buttonL" class="btn btn-light text-dark">&darr; L</button>
                </div>
            </div>

            <div class="row">
                <button type="button" id="gear" data-bs-toggle="modal" data-bs-target="#configModal"
                    class="btn btn-light fa fa-gear" data-toggle="tooltip" data-placement="top" title="Settings"
                    onclick="loadConfiguration()"></button>
            </div>

            <div class="row">
                <button type="button" id="help" data-bs-toggle="modal" data-bs-target="#helpModal"
                    class="btn btn-light fa fa-question-circle" aria-hidden="true" data-toggle="tooltip"
                    data-placement="top" title="Help!" onclick="game.pause()"></button>
            </div>

            <div class="row">

                <div id="4thplayer" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" id="buttonJ" class="btn btn-danger">&uarr; J</button>
                    <button type="button" id="buttonN" class="btn btn-danger">&darr; N</button>
                </div>
                <div class="d-none d-lg-block" style="width: 6ch;">
                    <p id="player4name" style="margin-top: 16px;"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Visual Imp Mode Modal -->
<div id="visualmodal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="staticBackdropLabel">Warning!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This mode can only be chosen before the game begins!</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal Winner Pop-up-->
<div id="winnerpopup" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h1>Game Over!</h1>
            </div>
            <div class="modal-body">
                <meta name="csrf-token" content="{{ csrf_token }}">
                <h2 id="winner" class="text-center"></h2>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="playAgain()">Play
                    Again!</button>
                <a href="{% url 'home' %}" class="btn btn-secondary spa-link" data-toggle="tooltip" data-placement="top"
                    title="Back to Home" data-method="GET" data-bs-dismiss="modal">Back to Home</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tounament Winner Pop-up-->
<div id="winnerTpopup" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 id="winnerT" class="text-center"></h2>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-dark-orange spa-link" href="{% url 'home' %}" data-method="GET"
                    data-bs-dismiss="modal">Back to Home</a>
                <button type="button" class="btn btn-dark-orange" data-bs-dismiss="modal" onclick="nextGame()">Next
                    Match!</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tounament FINAL Winner Pop-up-->
<div id="winnerFinalpopup" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 id="winnerF" class="text-center"></h2>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-dark-orange spa-link" href="{% url 'pong' %}?mode=tournament" data-method="GET"
                    data-bs-dismiss="modal">Play Tournament Again</a>
                <a class="btn btn-dark-orange spa-link" href="{% url 'home' %}" data-method="GET"
                    data-bs-dismiss="modal">Back to Home</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Config (level and sound)-->
<div id="configModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="max-height: 90vh; height: auto;">
            <div class="modal-header">
                <h1 id="staticBackdropLabel" class="modal-title fs-5">Pong Configurations
                </h1>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Sound switch -->
                    <div class="mb-3 mt-4">
                        <div class="switch-container">
                            <label class="switch-label" for="customSwitch">Sound</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="customSwitch" checked>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-4">
                        <!-- Mode (level) button -->
                        <div class="btn-group">
                            <button class="btn btn-dark-orange btn-lg dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Mode
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Easy</a></li>
                                <li><a class="dropdown-item" href="#">Medium</a></li>
                                <li><a class="dropdown-item" href="#">Hard</a></li>
                                <hr class="dropdown-divider">
                                <li><a class="dropdown-item" href="#">Custom</a></li>
                            </ul>
                        </div>

                        <!-- Custom Configuration (hidden by default) -->
                        <div id="customConfig" class="mb-3 mt-4" style="display: none;">
                            <div>
                                <label for="ballspeed" class="form-label">Ball Speed</label>
                                <input type="range" class="form-range" id="ballspeed" min="5" max="20" step="1">
                            </div>
                            <div>
                                <label for="playerspeed" class="form-label">Paddle Speed</label>
                                <input type="range" class="form-range" id="playerspeed" min="5" max="35" step="1">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark-orange" onclick="applyConfiguration()">Confirm</button>
            </div>
        </div>
    </div>
</div>

{% include "includes/help.html" %}

<!-- Pong Register Modal -->
<div id="pongRegisterModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="pongRegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 700px">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h1 class="modal-title text-center silk-heavy" id="pongRegisterModalLabel"></h1>
            </div>
            <div class="modal-body">
                <form id="gameRegisterForm">
                    <!-- Form input elements will be generated dynamically -->
                </form>
                <div id="gameSettings">
                    <h5 class="text-center mt-2 mb-0 silk-heavy">Game Settings</h5>
                    <div class="row align-items-center">
                        <div class="col">
                            <label for="difficultyDropdownButton" class="form-label silk-heavy">Difficulty*</label>
                            <div class="dropdown mb-3">
                                <!-- Dropdown will default to Medium -->
                                <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    id="difficultyDropdownButton">Medium</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Easy</a></li>
                                    <li><a class="dropdown-item" href="#">Medium</a></li>
                                    <li><a class="dropdown-item" href="#">Hard</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <label for="scoreSlider" class="form-label silk-heavy">Score To Win: <span
                                    id="scoreDisplay">5</span></label>
                            <input type="range" id="scoreSlider" name="scoreToWin" class="form-range" min="1" max="11"
                                value="5" oninput="document.getElementById('scoreDisplay').innerText = this.value">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary spa-link silk-heavy" href="{% url 'home' %}" data-method="GET"
                    data-bs-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-accent silk-heavy" form="gameRegisterForm">Start</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
