{% extends 'base.html' %}
{% load static %}

{% block title %}Tournament{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<meta name="username" content="{{ user.username }}">
{% else %}
<meta name="username" content="">
{% endif %}

<!-- Tournament -->
<div class="container">
    <h1>Tournament Bracket</h1>
    <div id="tournament-bracket">
        <!-- Tournament Bracket Display (this will be updated dynamically using JavaScript) -->
    </div>

    <div id="tournament-progress">
        <h3>Current Tournament Progress</h3>
        <!-- Display ongoing matches -->
        <ul id="progress-list">
            <!-- Matches will be populated here dynamically -->
        </ul>
    </div>
</div>

<!-- Tournament Registration Modal -->
<div id="tournamentModal" class="modal fade" tabindex="-1" aria-labelledby="tournamentModalLabel" aria-hidden="true"
    data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title silk-heavy" id="tournamentModalLabel">Tournament Registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="tournament-form" class="tournament-form">
                    <div class="mb-3">
                        <label for="alias1" class="form-label silk-heavy">Your Alias</label>
                        <input type="text" id="alias1" name="alias1" class="form-control" required maxlength="20" placeholder="test">
                    </div>
                    <div class="mb-3">
                        <label for="alias2" class="form-label silk-heavy">Player 2</label>
                        <input type="text" id="alias2" name="alias2" class="form-control" required maxlength="20">
                    </div>
                    <div class="mb-3">
                        <label for="alias3" class="form-label silk-heavy">Player 3</label>
                        <input type="text" id="alias3" name="alias3" class="form-control" required maxlength="20">
                    </div>
                    <div class="mb-3">
                        <label for="alias4" class="form-label silk-heavy">Player 4</label>
                        <input type="text" id="alias4" name="alias4" class="form-control" required maxlength="20">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="registerButton" type="submit" class="btn btn-primary"
                    form="tournament-form">Register</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
