/* main.css: CSS file containing all styles */

@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

:root {
    --background-color: #1d1b15;

    --form-field-color: #fbe1a8;
    --form-primary-color: #6b4d23;
    --form-button-hover-color: #88622d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: var(--background-color);
}

/* ---------------------------------- Home ---------------------------------- */
.menu-btn {
    color: white;
    background-color: transparent;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.menu-btn::before {
    content: '\25B6';
    color: gold;
    opacity: 0;
    transition: opacity 0.1s ease;
    margin-right: 0.2rem;
}

.menu-btn:hover,
.menu-btn:hover::before,
.menu-btn:focus,
.menu-btn:focus::before {
    opacity: 1;
    color: gold;
}

.menu-btn:active {
    transform: translateY(10%);
}

/* --------------------------------- Forms ---------------------------------- */
.form-text {
    color: white;
}

.form-control,
.form-control:focus {
    border-radius: 0;
    box-shadow: none;
    background-color: rgb(112, 112, 112);
}

.entry-form-btn {
    background-color: gray;
    color: white;
}

.entry-form-btn:active {
    transform: translateY(5%);
}

.entry-form-btn:hover {
    background-color: rgb(85, 85, 85);
}

.form-prompt>p {
    font-size: 0.8rem;
    margin: 0;
}

@media (max-width: 575.98px) {
    form {
        width: 100%;
    }
}