/* main.css: CSS file containing all styles */

@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

:root {
    --text: white;
    --background: #24211a;
    --navbar: #1d1b15;
    --primary: #d7ce97;
    --secondary: #dabd89;
    --accent: #f39c12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text);
    font-family: 'Press Start 2P', sans-serif;
    background-color: var(--background);
}

ul li {
    margin-bottom: 0.1rem;
}

ul li::marker {
    content: "·";
}

kbd {
    font-family: 'Press Start 2P', cursive;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #777;
    display: inline-block;
    margin: 0 3px;
}

strong {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    color: var(--accent);
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* --------------------------------- Navbar --------------------------------- */
header {
    background-color: var(--navbar);
}

.nav-link {
    color: var(--text);
}

.nav-link:hover,
.nav-link:focus {
    background-color: var(--background);
    color: var(--accent);
}

.navbar-nav .dropdown-menu {
    background-color: var(--background);
    border-color: var(--navbar);
    border-radius: 0px;
    right: 0;
}

.navbar-nav .dropdown-item {
    color: var(--text);
}

.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus {
    background-color: var(--navbar);
    color: var(--accent);
}

.navbar-nav .dropdown-divider {
    border-color: var(--text);
}

.navbar-nav .dropdown-toggle::after {
    border-top-color: var(--accent);
    border-left-color: transparent;
    border-right-color: transparent;
    margin-left: -0.5rem;
}

@media (max-width: 991.98px) {
    #navbarMenu {
        transition: height 0.3s ease-in-out, opacity 0.1s ease-in-out;
    }

    .navbar-collapse {
        /* opacity: 0; */
        height: 0;
        overflow: hidden;
    }

    .navbar-collapse.show {
        /* opacity: 1; */
        height: auto;
    }
}

/* ---------------------------------- Logo ---------------------------------- */
.logo {
    transition: filter 0.3s ease; /* Smooth transition */
}

.logo:hover {
    filter: drop-shadow(0 0 5px rgba(243, 156, 18, 0.8))
            drop-shadow(0 0 10px rgba(243, 156, 18, 0.5));
}

/* ---------------------------------- Home ---------------------------------- */
.menu-btn {
    padding: 0.5rem;
    color: var(--text);
    background-color: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
}

.menu-btn::before {
    content: '\25B6';
    color: var(--accent);
    opacity: 0;
    margin-right: 0.2rem;
}

.menu-btn:hover,
.menu-btn:hover::before,
.menu-btn:focus,
.menu-btn:focus::before {
    opacity: 1;
    color: var(--accent);
    background-color: var(--navbar);
    transform: translateY(-5px);
}

.menu-btn:active {
    transform: scale(0.95);
}

.link-glow {
    color: var(--accent);
    transition: text-shadow 0.3s ease;
}

.link-glow:hover {
    color: var(--accent);
    text-shadow: 0 0 5px rgba(243, 156, 18, 0.8), 0 0 10px rgba(243, 156, 18, 0.5);
}

/* --------------------------------- Forms ---------------------------------- */
.form-text {
    color: white;
    font-size: 0.6rem;
}

.form-control,
.form-control:focus {
    border-radius: 0;
    background-color: rgb(112, 112, 112);
}

.form-control:focus {
    border-color: #f1c748;
    box-shadow: 0 0 0 .25rem #f1c7484b;
    outline: 0;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.6rem;
}

.form-prompt>p {
    font-size: 0.8rem;
    margin: 0;
}