/* main.css: CSS file containing all styles */

/* ---------------------------------- Font ---------------------------------- */
@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/Silkscreen-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/Silkscreen-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

.silk {
    font-family: 'Silkscreen', sans-serif;
}

.silk-heavy {
    font-family: 'Silkscreen', sans-serif;
    font-weight: bold;
}

/* --------------------------------- General -------------------------------- */
:root {
    --text: white;
    --background: #24211a;
    --navbar: #1d1b15;
    --primary: #d7ce97;
    --secondary: #dabd89;
    --accent: #f39c12;
    --light-accent: #ffb641;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text);
    font-family: 'Press Start 2P', sans-serif;
    background-color: var(--background);
}

h1 {
    color: var(--accent);
}

#helpModal ul li {
    margin-bottom: 0.1rem;
}

#helpModal ul li::marker {
    content: "·";
}

kbd {
    font-family: 'Press Start 2P', sans-serif;
    border-radius: 10px;
}

#helpModal kbd {
    padding: 5px 10px;
    margin: 0 3px;
    display: inline-block;
    background-color: #333;
    color: white;
    border: 1px solid #777;
}

strong {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#helpModal strong {
    color: var(--accent);
}

/* --------------------------------- Navbar --------------------------------- */
header {
    background-color: var(--navbar);
}

.nav-link {
    outline: none;
    color: var(--text);
}

.nav-link:hover,
.nav-link:focus {
    box-shadow: none;
    background-color: var(--background);
    color: var(--accent);
}

.navbar-nav .dropdown-menu {
    background-color: var(--background);
    border-color: var(--navbar);
    border-radius: 0px;
    right: 0;
}

.navbar-nav .dropdown-item {
    color: var(--text);
}

.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus {
    outline: none;
    background-color: var(--navbar);
    color: var(--accent);
}

.navbar-nav .dropdown-item[id="logoutButton"]:hover,
.navbar-nav .dropdown-item[id="logoutButton"]:focus {
    outline: none;
    background-color: var(--navbar);
    color: var(--bs-danger);
}

.navbar-nav .dropdown-divider {
    border-color: var(--text);
}

.navbar-nav .dropdown-toggle::after {
    border-top-color: var(--accent);
    border-left-color: transparent;
    border-right-color: transparent;
    margin-left: -0.5rem;
}

@media (max-width: 991.98px) {
    #navbarMenu {
        transition: height 0.3s ease-in-out, opacity 0.1s ease-in-out;
    }

    .navbar-collapse {
        /* opacity: 0; */
        height: 0;
        overflow: hidden;
    }

    .navbar-collapse.show {
        /* opacity: 1; */
        height: auto;
    }
}

/* ---------------------------------- Logo ---------------------------------- */
.logo {
    transition: all 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px rgba(243, 156, 18, 0.8)) drop-shadow(0 0 10px rgba(243, 156, 18, 0.5));
}

/* ---------------------------------- Home ---------------------------------- */
.menu-btn {
    padding: 0.5rem;
    color: var(--text);
    background-color: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
}

.menu-btn::before {
    content: '\25B6';
    color: var(--accent);
    opacity: 0;
    margin-right: 0.2rem;
}

.menu-btn:hover,
.menu-btn:hover::before,
.menu-btn:focus,
.menu-btn:focus::before {
    opacity: 1;
    color: var(--accent);
    background-color: var(--navbar);
    transform: translateY(-5px);
}

.menu-btn:focus {
    outline: solid var(--accent);
}

.menu-btn:active {
    transform: scale(0.95);
}

.link-effect {
    outline: none;
    position: relative;
    color: var(--accent);
    text-decoration: none;
    transition: all 0.3s ease;
}

.link-effect::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.link-effect:hover,
.link-effect:focus {
    outline: none;
    font-size: 1.2rem;
}

.link-effect:hover::after,
.link-effect:focus::after {
    outline: none;
    transform: scaleX(1);
}

/* --------------------------------- Forms ---------------------------------- */
.form-text {
    color: var(--text);
    font-size: 0.6rem;
}

.form-control {
    color: var(--navbar);
    border-radius: 0;
    background-color: #c6c6c6c4;
    padding: 10px;
    transition: all 0.3s ease;
}

.form-control:focus,
.form-control:hover {
    color: var(--navbar);
    border-color: var(--primary);
    background-color: #f0f0f0;
}

.form-control:focus {
    border-color: none;
    box-shadow: 0 0 8px rgba(215, 215, 215, 0.6);
    outline: 0;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.6rem;
}

.form-prompt>p {
    font-size: 0.8rem;
    margin: 0;
}

.fixed-size-input {
    width: 500px;
}

.error-message-input {
    color: red;
    max-width: 500px;
    word-wrap: break-word;
}

.btn-orange {
    color: var(--text);
    background-color: var(--accent);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-orange:hover {
    background-color: var(--light-accent);
    box-shadow: 0 0 10px rgba(243, 156, 18, 0.7);
}

.btn-orange:focus {
    background-color: var(--light-accent);
    box-shadow: 0 0 10px rgba(243, 156, 18, 0.7);
}

.btn-orange:active {
    background-color: var(--accent);
    border-color: var(--accent);
    transform: scale(0.95);
    box-shadow: none;
}

/* -------------------------------- Profile --------------------------------- */
.profile-name {
    font-size: 2.5rem;
}

.profile-divider {
    width: 50%;
    margin: 0.5rem auto;
    border-top: 3px solid var(--accent);
}

.main {
    color: var(--text);
    background-color: var(--navbar);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-image-wrapper {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.profile-image-wrapper:hover .profile-image {
    cursor: pointer;
    filter: brightness(1.1);
}

.bio-text {
    font-style: italic;
    color: var(--text);
    font-size: 0.8rem;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: var(--text);
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.social-links a:hover {
    background-color: var(--accent);
}

.btn-social {
    display: inline-flex;
    align-items: center;
    background-color: var(--background);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

/* -------------------------------- About --------------------------------- */
.about-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--navbar);
}

.about-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-primary {
    background-color: var(--accent);
    border-color: var(--accent);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: var(--secondary);
    transform: scale(1.05);
}