{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}


{% block content %}

<div class="d-flex align-items-center flex-column mt-5">
    <h2 class="text-decoration-underline">Change Password</h2>

    <form id="change_password" class="p-2 mt-4">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label requiredField" for="old_password">Old Password</label>
            <input class="form-control" type="password" name="old_password" required>
            <div class="invalid-feedback">
                Old password is required.
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label requiredField" for="new_password">New Password</label>
            <input class="form-control" type="password" name="new_password" required>
            <div class="invalid-feedback">
                New password is required.
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label requiredField" for="confirm_password">Confirm New Password</label>
            <input class="form-control" type="password" name="confirm_password" required>
            <div class="invalid-feedback">
                Confirming the new password is required.
            </div>
        </div>

        <div class="text-center mb-3 mt-4">
            <a class="btn btn-success spa-link w-50" href="{% url 'change_password' %}" data-method="POST"
                data-form="#change_password">Change</a>
        </div>

        
    </form>
    
    <div class="mb-3 col-md-6">
        {% if error %}
            <div class="alert alert-danger">
            {{ error}}
            </div>
        {% endif %}
    </div>

</div>

{% endblock content %}
