{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}


{% block content %}

<!-- Change Password -->
<div class="d-flex align-items-center flex-column mt-5">
    <h1 class="text-decoration-underline">Change Password</h1>

    <form id="changePassword" class="p-2 mt-4">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="old_password">Old Password*</label>
            <input id="old_password" class="form-control fixed-size-input" type="password" name="old_password" required>
            {% if error.err_old_password %}
            <div class="error-message-input">
                {{ error.err_old_password }}
            </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label" for="new_password">New Password*</label>
            <input id="new_password" class="form-control fixed-size-input" type="password" name="new_password" required>
            {% if error.err_new_password %}
            <div class="error-message-input">
                {{ error.err_new_password }}
            </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label" for="confirm_password">Confirm New Password*</label>
            <input id="confirm_password" class="form-control fixed-size-input" type="password" name="confirm_password" required>
            {% if error.err_confirm_password %}
            <div class="error-message-input">
                {{ error.err_confirm_password }}
            </div>
            {% endif %}
            {% if error.err_invalid_password %}
            <div class="error-message-input">
                {{ error.err_invalid_password }}
            </div>
            {% endif %}
            {% if error.err_match_password %}
            <div class="error-message-input">
                {{ error.err_match_password }}
            </div>
            {% endif %}
            {% if validation_error %}
            <div class="error-message-input">
                {% for error in validation_error %}
                {{ error }}<br>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="text-center mt-4">
            <a class="btn btn-accent spa-link w-50" href="{% url 'change_password' %}" data-method="POST"
                data-form="#changePassword">Change</a>
        </div>
    </form>
    <div class="text-center mt-3">
        <a class="link-effect spa-link w-50" href="{% url 'settings' %}" data-method="GET">Cancel</a>
    </div>

    {% endblock content %}
