{% extends "base.html" %}
{% load static %}

{% block title %}2FA Setup{% endblock title %}


{% block content %}

<div class="container py-5 d-flex justify-content-center">
    <div class="card shadow-sm w-100" style="max-width: 700px;">
        <div class="card-body">
            <h3 class="card-title mb-4 d-none d-sm-block text-center">Setup Two-Factor Authentication</h3>
            <h3 class="card-title mb-4 d-block d-sm-none text-center">Setup 2FA</h3>

            <p>1. Scan the QR code below with an authenticator app to setup your 2FA.</p>
            <p class="text-muted" style="font-size: 0.9rem;">We recommend Google Authenticator for
                <a href="https://apps.apple.com/us/app/google-authenticator/id388497605" target="_blank"
                    rel="noopener noreferrer">
                    iPhone</a>
                or
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
                    target="_blank" rel="noopener noreferrer">
                    Android</a>.
            </p>
            <div class="mb-5 text-center">
                <img src="{{ user.qrcode_img.url }}" alt="QR code for 2FA setup" class="img-fluid border"
                    style="max-width: 250px;">
            </div>

            <!-- <p class="text-center text-muted" style="font-size: 0.9rem;">
                Can't scan the QR code? Enter the code manually in the app:
            </p>
            <div class="mb-3 text-center">
                <code class="border p-2 d-inline-block"></code>
            </div> -->

            <p>2. After scanning, enter the 6-digit code to enable 2FA.</p>

            {% if error_message %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
            {% endif %}

            <form id="enable_2fa">
                {% csrf_token %}
                <div class="form-group row justify-content-center">
                    <div class="col-auto">
                        <input type="text" name="otp" id="otp" class="form-control" required
                            placeholder="6-digit code" style="width: 250px;">
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-success spa-link" href="{% url 'enable_2fa' %}" data-method="POST"
                            data-form="#enable_2fa">Enable 2FA</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}