{% extends "base.html" %}
{% load static %}

{% block title %}2FA Setup{% endblock title %}


{% block content %}

<!-- Enable 2FA -->
<div class="container py-5 d-flex flex-column justify-content-center align-items-center">
    <div style="max-width: 700px;">
        <h1 class="d-none d-sm-block text-center">Setup Two-Factor Authentication</h3>
            <h1 class="d-block d-sm-none text-center">Setup 2FA</h3>
    </div>
    <div class="card shadow-sm w-100" style="max-width: 700px;" data-bs-theme="dark">
        <div class="card-body">

            <p>1. Scan the QR code below with an authenticator app to setup your 2FA.</p>
            <p class="text-muted" style="font-size: 0.9rem;">We recommend Google Authenticator for
                <a class="link-effect" href="https://apps.apple.com/us/app/google-authenticator/id388497605"
                    target="_blank" rel="noopener noreferrer">
                    iPhone</a>
                or
                <a class="link-effect"
                    href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
                    target="_blank" rel="noopener noreferrer">
                    Android</a>.
            </p>
            <div class="mb-5 text-center">
                <img src="/media/qr_codes/{{ obj.qrcode }}" alt="QR code for 2FA setup" class="img-fluid border"
                    style="max-width: 250px;">
            </div>

            <!-- <p class="text-center text-muted" style="font-size: 0.9rem;">
                Can't scan the QR code? Enter the code manually in the app:
            </p>
            <div class="mb-3 text-center">
                <code class="border p-2 d-inline-block"></code>
            </div> -->

            <p>2. After scanning, enter the 6-digit code to enable 2FA.</p>

            {% if obj.error_message %}
            <div class="alert alert-danger">
                {{ obj.error_message }}
            </div>
            {% endif %}

            <form id="enable_2fa">
                {% csrf_token %}
                <div class="form-group row justify-content-center">
                    <label for="otp" class="form-label">Enter Code:</label>
                    <div class="input-group">
                        <input type="text" name="otp" id="otp" class="form-control otp" required
                            placeholder="6-digit code">
                        <button class="btn btn-accent spa-link" href="{% url 'enable_2fa' %}" data-method="POST"
                            data-form="#enable_2fa">Enable 2FA</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
