{% extends "base.html" %}
{% load static %}

{% block title %}Friends{% endblock %}


{% block content %}
<!-- Friends -->
<div class="container-xl d-flex flex-column justify-content-center align-items-center h-75">
    <h1 class="text-center">Friends</h1>
    <div id="friendsMenu" class="p-2">
        <div id="tabs" class="d-flex">
            <button class="tab-link active" onclick="showTab('all', event)"><i class="fas fa-user-friends"></i><span
                    class="tab-text">All</span></button>
            <button class="tab-link" onclick="showTab('requests', event)"><i class="fas fa-user-plus"></i>
                <span class="tab-text">Requests</span>
                {% if pending_requests|length > 0 %}
                <span class="badge bg-danger ms-2">{{ pending_requests|length }}</span>
                {% endif %}
            </button>
            <button class="tab-link" onclick="showTab('add', event)"><i class="fas fa-search"></i><span
                    class="tab-text">Find</span></button>
            <button class="tab-link refresh" onclick="getPage('/users/friends')"><i class="fa fa-refresh"></i></button>
        </div>

        <!-- All Friends Tab -->
        <div id="all" class="tab-content active">
            {% if friends %}
            {% for friend in friends %}
            <div class="friend-card">
                <div class="friend-info">
                    <div class="friend-avatar">
                        {% if friend.profile_image %}
                        <img src="{{ friend.profile_image.url }}" class="profile-image rounded-circle"
                            alt="{{ friend.username }}'s Profile Image">
                        {% else %}
                        <img src="{% static 'images/default_user.jpg' %}" class="profile-image rounded-circle"
                            alt="Default User Image">
                        {% endif %}
                    </div>
                    <div class="friend-details ms-3">
                        <span class="friend-username">{{ friend.username }}</span>
                        <span class="friend-status {% if friend in online_friends %}online{% else %}offline{% endif %}">
                            {% if friend in online_friends %}Online{% else %}Offline{% endif %}
                        </span>
                    </div>
                </div>
                <button type="button" class="friend-action" onclick="removeFriend('{{ friend.username }}')">
                    <i class="fas fa-user-times"></i>
                </button>
            </div>
            {% endfor %}
            {% else %}
            <div class="no-friends">No friends to display.</div>
            {% endif %}
        </div>

        <!-- Friend Requests Tab -->
        <div id="requests" class="tab-content">
            {% if pending_requests %}
            {% for request in pending_requests %}
            <div class="friend-card">
                <div class="friend-info">
                    <div class="friend-avatar"></div>
                    <div>
                        <span class="friend-username">{{ request.username }}</span>
                    </div>
                </div>
                <button class="friend-action" onclick="acceptFriend('{{ request.username }}')">
                    <i class="fas fa-user-check"></i>
                </button>
                <button class="friend-action" onclick="rejectFriend('{{ request.username }}')">
                    <i class="fas fa-user-minus"></i>
                </button>
            </div>
            {% endfor %}
            {% else %}
            <div class="no-friends">No pending requests.</div>
            {% endif %}
        </div>

        <!-- Add Friend Tab -->
        <div id="add" class="tab-content">
            <form id="addFriendForm" onsubmit="handleAddFriend(event)">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" id="friendUsername" name="username" class="form-control"
                        placeholder="Enter username" required>
                    <button type="submit" class="btn btn-accent"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Handle form submission to add a friend
    function handleAddFriend(event) {
        event.preventDefault();
        const friendUsername = document.getElementById('friendUsername').value;
        if (friendUsername)
            addFriend(friendUsername);
    }

    const csrfTokenContext = "{{ csrf_token }}";
    const errorMessageContext = "{{ error_message|escapejs }}";
</script>

<!-- Modal for error messages -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
    data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="getPage('/users/friends')">Dismiss</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for success messages -->
<div class=" modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true"
    data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="successMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="getPage('/users/friends')">Dismiss</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
