{% extends "base.html" %}
{% load static %}

{% block title %}Friends{% endblock %}


{% block content %}
<!-- Friends -->
<div class="container-xl py-5">
    <h1>Friends</h1>
    <div class="mb-5">
        <form id="addFriendForm" onsubmit="handleAddFriend(event)">
            {% csrf_token %}
            <label for="friendUsername" class="form-label">Send Friend Request</label>
            <div class="input-group">
                <input type="text" id="friendUsername" name="username" class="form-control" placeholder="Enter username"
                    required>
                <button type="submit" class="btn btn-accent">Add Friend</button>
            </div>
        </form>
    </div>

    <div class="main">
        <h2>Online Friends</h2>
        <ul>
            {% if online_friends %}
            {% for friend in online_friends %}
            <li>{{ friend.username }} (Online)</li>
            {% endfor %}
            {% else %}
            <li>No online friends.</li>
            {% endif %}
        </ul>
    </div>

    <div class="main">
        <h2>All Friends</h2>
        <ul>
            {% if friends %}
            {% for friend in friends %}
            <li>{{ friend.username }} {% if friend in online_friends %}(Online){% else %}(Offline){% endif %}
                <button type="button" onclick="removeFriend('{{ friend.username }}')"
                    class="btn btn-primary">Remove</button>
            </li>
            {% endfor %}
            {% else %}
            <li>No friends.</li>
            {% endif %}
        </ul>
    </div>

    <div class="main">
        <h2>Pending Friend Requests</h2>
        <ul>
            {% if pending_requests %}
            {% for request in pending_requests %}
            <li>
                {{ request.username }} wants to be your friend.
                <button onclick="acceptFriend('{{ request.username }}')" class="btn btn-success">Accept</button>
                <button onclick="rejectFriend('{{ request.username }}')" class="btn btn-danger">Reject</button>
            </li>
            {% endfor %}
            {% else %}
            <li>No pending friend requests.</li>
            {% endif %}
        </ul>
    </div>
</div>

<script>
    // Handle form submission to add a friend
    function handleAddFriend(event) {
        event.preventDefault();
        const friendUsername = document.getElementById('friendUsername').value;
        if (friendUsername)
            addFriend(friendUsername);
    }

    const csrfTokenContext = "{{ csrf_token }}";
    const errorMessageContext = "{{ error_message|escapejs }}";
</script>

<!-- Modal for error messages -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
    data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="getPage('/users/friends')">Dismiss</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for success messages -->
<div class=" modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true"
    data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="successMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="getPage('/users/friends')">Dismiss</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
