{% extends "base.html" %}
{% load static %}

{% block title %}Friends{% endblock %}


{% block content %}
<!-- Friends -->
<div class="container-xl d-flex flex-column justify-content-center text-center h-75">
    <h1 class="text-center">Friends</h1>
    <div id="friendsMenu" class="p-2 w-100">
        <div id="tabs" class="d-flex">
            <button class="tab-link active" onclick="showTab('all', event)"><i class="fas fa-user-friends"></i> <span
                    class="tab-text">All</span></button>
            <button class="tab-link" onclick="showTab('requests', event)"><i class="fas fa-user-plus"></i> <span
                    class="tab-text">Requests</span></button>
            <button class="tab-link" onclick="showTab('add', event)"><i class="fas fa-search"></i> <span
                    class="tab-text">Add</span></button>
        </div>

        <!-- All Friends Tab -->
        <div id="all" class="tab-content active">
            <div class="friend-list">
                {% if friends %}
                {% for friend in friends %}
                <div class="friend-card">
                    <div class="friend-info">
                        <div class="friend-avatar"></div>
                        <div>
                            <span class="friend-username">{{ friend.username }}</span>
                            <span
                                class="friend-status {% if friend in online_friends %}online{% else %}offline{% endif %}">
                                {% if friend in online_friends %}Online{% else %}Offline{% endif %}
                            </span>
                        </div>
                    </div>
                    <button type="button" class="friend-action" onclick="removeFriend('{{ friend.username }}')">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
                {% endfor %}
                {% else %}
                <div class="no-friends">No friends.</div>
                {% endif %}
            </div>
        </div>

        <!-- Friend Requests Tab -->
        <div id="requests" class="tab-content">
            <div class="friend-list">
                {% if pending_requests %}
                <div class="friend-card">
                    <div class="friend-info">
                        <div class="friend-avatar"></div>
                        <div>
                            <span class="friend-username">{{ request.username }}</span>
                            <span class="friend-status request">Friend Request</span>
                        </div>
                    </div>
                    <button class="friend-action" onclick="acceptFriend('{{ request.username }}')">
                        <i class="fas fa-user-check"></i>
                    </button>
                    <button class="friend-action" onclick="rejectFriend('{{ request.username }}')">
                        <i class="fas fa-user-minus"></i>
                    </button>
                </div>
                {% else %}
                <div class="no-friends">No pending requests.</div>
                {% endif %}
            </div>
        </div>

        <!-- Add Friend Tab -->
        <div id="add" class="tab-content">
            <form id="addFriendForm" onsubmit="handleAddFriend(event)">
                {% csrf_token %}
                <label for="friendUsername" class="form-label">Enter Username</label>
                <div class="input-group">
                    <input type="text" id="friendUsername" name="username" class="form-control"
                        placeholder="Enter username" required>
                    <button type="submit" class="btn btn-accent">Add Friend</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Handle form submission to add a friend
    function handleAddFriend(event) {
        event.preventDefault();
        const friendUsername = document.getElementById('friendUsername').value;
        if (friendUsername)
            addFriend(friendUsername);
    }

    const csrfTokenContext = "{{ csrf_token }}";
    const errorMessageContext = "{{ error_message|escapejs }}";
</script>

<!-- Modal for error messages -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
    data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="getPage('/users/friends')">Dismiss</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for success messages -->
<div class=" modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true"
    data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="successMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="getPage('/users/friends')">Dismiss</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
