{% extends "base.html" %}
{% load static %}

{% block title %}{{ user.username }} - Profile{% endblock title %}


{% block content %}

<!-- Profile -->
<div class="container-xl profile-container mt-3">
    <div class="profile-header">
        <div class="profile-image">
            {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}" alt="{{ user.username }}'s Profile Image">
            {% else %}
            <img src="{% static 'images/default_user.jpg' %}" alt="Default User Image">
            {% endif %}
        </div>
        <div class="profile-info">
            <h1 class="profile-username">{{ user.username }}</h1>
            <p class="profile-email">Email: {{ user.email }}</p>
            <p>Registered on: {{ user.date_joined|date:"d-M-Y" }}</p>
            <div class="social-links">
                {% if user.github %}
                <a href="{{ user.github }}" class="btn btn-accent" target="_blank"><i class="fab fa-github"></i>
                    GitHub</a>
                {% endif %}
                {% if user.twitter %}
                <a href="{{ user.twitter }}" class="btn btn-accent" target="_blank"><i class="fab fa-twitter"></i>
                    Twitter</a>
                {% endif %}
            </div>
            {% if user.bio %}
            <div class="user-bio">
                <p class="profile-bio">Bio: {{ user.bio }}</p>
            </div>
            {% endif %}
        </div>
        <div class="profile-edit">
            <a class="edit-button spa-link" href="{% url 'edit_profile' %}" data-method="GET">Edit</a>
        </div>
    </div>

    <div class="profile-stats">
        <h2>Stats</h2>
        <p>Wins: {{ user.wins }}</p>
        <p>Losses: {{ user.losses }}</p>
    </div>

    <div class="profile-match-history">
        <h2>Match History</h2>
        {% if matches %}
        <div class="table-container">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Mode</th>
                        <th>Match Details</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in matches %}
                    <tr>
                        <td>{{ match.date|date:"d-M-Y" }}</td>
                        <td>
                            {% if match.mode == 'pong_1v1' %}
                            Pong 1v1
                            {% elif match.mode == 'pong_2v2' %}
                            Pong 2v2
                            {% elif match.mode == 'tictactoe' %}
                            Tic Tac Toe
                            {% endif %}
                        </td>
                        <td>
                            {% if match.mode == 'pong_1v1' or match.mode == 'tictactoe' %}
                            You vs {{ match.opponents.0 }}
                            {% elif match.mode == 'pong_2v2' %}
                            You and {{ match.teammate }} vs {{ match.opponents.0 }} and {{ match.opponents.1 }}
                            {% endif %}
                        </td>
                        <td>
                            {% if match.result == 'win' %}
                            <span class="result-win">Win</span>
                            {% elif match.result == 'loss' %}
                            <span class="result-loss">Loss</span>
                            {% else %}
                            <span class="result-draw">Draw</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>No matches found.</p>
        {% endif %}
    </div>

    {% endblock content %}
