{% extends "base.html" %}
{% load static %}

{% block title %}{{ user.username }} - Profile{% endblock title %}


{% block content %}

<!-- Profile -->
<div class="container-xl d-flex justify-content-center h-75">
    <div id="userInfo" class="main border">
        <div class="profile-image-wrapper">
            {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}" class="profile-image rounded-circle"
                alt="{{ user.username }}'s Profile Image">
            {% else %}
            <img src="{% static 'images/default_user.jpg' %}" class="profile-image rounded-circle"
                alt="Default User Image">
            {% endif %}
        </div>

        <h1 class="profile-name">{{ user.username }}</h1>

        <div class="name">
            {% if user.first_name %}
            <div>First name: {{ user.first_name }}</div>
            {% endif %}
            {% if user.last_name %}
            <div>Last name: {{ user.last_name }}</div>
            {% endif %}
        </div>

        <div class="card-body">
            {% if user.github or user.twitter %}
            <p class="social-links mt-3">
                {% if user.github %}
                <a href="{{user.github}}" target="_blank" class="btn-social"><i class="fa-brands fa-github"></i></a>
                {% endif %}
                {% if user.twitter %}
                <a href="{{user.twitter}}" target="_blank" class="btn-social"><i class="fa-brands fa-twitter"></i></a>
                {% endif %}
            </p>
            {% endif %}

            {% if user.email %}
            <div class="email">
                <p class="card-text">Email: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
            </div>
            {% endif %}

            {% if user.bio %}
            <div class="border bio-text p-4">
                <h4>bio:</h4>
                <p class="card-text">{{user.bio}}</p>
            </div>
            {% endif %}

            <a class="btn btn-accent mt-3 spa-link" href="{% url 'edit_profile' %}" data-method="GET">Edit
                Profile</a>
        </div>
        <div class="main border">
            <div class="stats">
                <h2>Stats</h2>
                <p>Wins: {{ user.wins }}</p>
                <p>Losses: {{ user.losses }}</p>
            </div>
        </div>
        <div class="main border mt-4">
            <div class="card-body">
                <h2>Match History</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Mode</th>
                            <th>Match Details</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in matches %}
                        <tr>
                            <td>{{ match.date|date:"d-M-Y" }}</td>
                            <td>
                                {% if match.mode == 'pong_1v1' %}
                                Pong 1v1
                                {% elif match.mode == 'pong_2v2' %}
                                Pong 2v2
                                {% elif match.mode == 'tictactoe' %}
                                Tic Tac Toe
                                {% endif %}
                            </td>
                            <td>
                                {% if match.mode == 'pong_1v1' %}
                                You vs {{ match.opponent1 }}
                                {% elif match.mode == 'pong_2v2' %}
                                You and {{ match.teammate }} vs {{ match.opponent1 }} and {{ match.opponent2 }}
                                {% elif match.mode == 'tictactoe' %}
                                You vs {{ match.opponent1 }}
                                {% endif %}
                            </td>
                            <td>{{ match.result|title }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No matches found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="userStats" class="">

    </div>
</div>

{% endblock content %}
