{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}


{% block content %}

<!-- Register -->
<div class="d-flex align-items-center flex-column h-100">
    <div class="container my-auto" style="max-width: 1000px;">
        <h1 class="text-center">REGISTER</h1>

        <form id="register-form" class="p-2">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center mt-5 mb-3">
                <a class="btn btn-orange spa-link w-50" href="{% url 'register' %}" data-method="POST"
                    data-form="#register-form">Register</a>
            </div>
        </form>
        <div class="form-prompt text-center my-2">
            <p>Already have an account?</p>
            <a href="{% url 'login' %}" class="spa-link link-effect" data-method="GET">Login here</a>
        </div>
        {% include "includes/back_to_home.html" %}
    </div>
</div>

{% endblock content %}