{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}


{% block content %}

<!-- TODO: adjust registration form size responsively -->
<!-- TODO: hide help text behind info icon -->
<!-- TODO: center the form on the page -->

<div class="d-flex align-items-center flex-column">
    <h2 class="text-decoration-underline">Register</h2>

    <form id="register-form" class="p-2">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mb-3">
            <a class="btn btn-success spa-link w-50" href="{% url 'register' %}" data-method="POST"
                data-form="#register-form">Register</a>
        </div>
    </form>
    <div class="form-prompt text-center">
        <p>Already have an account?</p>
        <a href="{% url 'login' %}" class="spa-link" data-method="GET">Login here</a>
    </div>
</div>

{% endblock content %}