{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block nav %}
    <a href="{% url 'index' %}" class="btn btn-secondary spa-link" data-method="GET">Back to home</a>
{% endblock nav %}


{% block content %}

<div class="container entry-form d-flex justify-content-center align-items-center flex-column">
    <h2>Register</h2>

    <form id="register-form" class="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <a class="btn btn-success mb-2 spa-link" href="{% url 'register' %}" data-method="POST"
            data-form="#register-form">Register</a>
        </div>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}" class="spa-link" data-method="GET">Login here</a></p>
</div>


{% endblock content %}