{% extends "base.html" %}
{% load static %}

{% block title %}2fa Setup{% endblock title %}

{% block nav %}
<a href="{% url 'index' %}" class="btn btn-secondary spa-link" data-method="GET">Back to home</a>
{% endblock nav %}

{% block content %}

<div class="container entry-form d-flex justify-content-center align-items-center flex-column">

    <h2>2fa Authenticator</h2>

    <div style=" text-align: center; ">
        {% if not user.is_2fa_set %}
            <p>Scan this QR code with Google Authenticator to set up your two-factor authentication:</p>
            <img src="{{ user.qrcode_img.url }}" alt="qrcode image for login authentication">
            <p>After generates the code, insert it here to complete your login.</p>
        {% endif %}
    </div>
    

    {% if error_message %}
    <div class="alert alert-block alert-danger"> 
        <ul class="m-0"> 
            <li>{{ error_message }}</li> 
        </ul> 
    </div>
    {% endif %}
    

    <form id="otp-form" class="entry-form">
        {% csrf_token %}
        <label for="otp">OTP Code:</label>
        <input type="text" name="otp" id="otp" class="" required>
        <a class="btn btn-primary spa-link" href="{% url 'verify_otp' %}" data-method="POST" data-form="#otp-form">Log In</a>
    </form>

    
    {% if user.is_2fa_set %}
        <form id="reset-2fa">
            {% csrf_token %}
            <a class="spa-link" href="{% url "reset_2fa" %}" data-method="POST" data-form="#reset-2fa">Redefine 2fa</a>
        </form>
    {% endif %}

</div>
    

{% endblock content %}