{% extends "base.html" %}
{% load static %}

{% block title %}2fa Setup{% endblock title %}


{% block content %}

<div class="container entry-form d-flex justify-content-center align-items-center flex-column">
    <h2>2fa Authenticator</h2>

    <p>Insert the google authenticator code to login</p>

    {% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
    {% endif %}

    <form id="otp-form" class="entry-form">
        {% csrf_token %}
        <label for="otp">OTP Code:</label>
        <input type="text" name="otp" id="otp" required>
        <a class="btn btn-primary spa-link" href="{% url 'verify_otp' %}" data-method="POST" data-form="#otp-form">Log
            In</a>
    </form>
</div>

{% endblock content %}