/* styles.css: CSS file for start section */

/*
TODO:
- have logo (image ?) resize with buttons seemlessly
*/

:root {
    --background-color: rgb(29, 27, 21);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
}

body {
    background-color: var(--background-color);
}
